[Desktop Entry]
Name=ColorOracle
Comment=Design for the color impaired, a color blindness simulator
Exec=color-oracle
Terminal=false
Type=Application
Categories=Graphics;
